
@font-face {
  font-family: 'Changa One';
  src: url('../fonts/ChangaOne-Regular.ttf');
  font-weight: bold;
  font-style: normal;
}

.reveal section img {
  border: 0;
  box-shadow: none;
  max-height: 500px;
}


.ref{
  font-size: 0.5em;
  color: lightgrey;
}

h2{
  color: orange;
  font-family: 'Changa One', cursive;
}